.score {
    display: inline-block;
    width: 100px;
    height:100px;
    border-width: 8px;
    border-color: blue;
    border-style: solid;
    margin: 3%;
    border-radius: 50%;
}

.score span:first-child {
    font-size: x-small;
    display: block;
    margin-top: 15px;
    color: gray

}

.score span:nth-child(2) {
    font-size: x-large;
    display: block;
    font-weight: bolder
}

.score span:nth-child(3) {
    font-size: x-large;
    display: block;
    font-weight: bolder;
    padding-left: 85px;
    font-size: x-small;
}

.plus{
    color: green
}

.minus{
    color: red
}

.clear {
    opacity: 0;
}

.solid {
    opacity: 100;
}

.smallimg {
    width: 40px;
    height: 40px;
}

.accountRow {
    width: 80%;
    margin: 1px 0 0 10%;
    display:table;
    text-align: left
}

.accountColumn {
    width: 20%;
    padding: 0 0 0 1em;
    display: table-cell;
    text-align: left;
    background-color: lightgray;
}

.accountColumn:nth-child(3){
    padding: 0 1em 0 0;
    text-align: right
}

.accountColumn:nth-child(4){
    padding: 0 1em 0 0;
    text-align: right
}

.accountColumn:nth-child(2){
    padding: 0 0 0 3em;
    margin: 0 5px 0 5px;
}

.trophy {
    align-content: left;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: left;
    padding-left: 20px;
}

